export POSTGRES_HOST=127.0.0.1
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=my-secret-pw
export POSTGRES_NAME=postgres

export MYSQL_HOST=127.0.0.1
export MYSQL_PORT=3306
export MYSQL_USER=root
export MYSQL_PASSWORD=my-secret-pw
export MYSQL_NAME=mysql

export MONGO_URL=mongodb://127.0.01:27017/test
